<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LearnByErrorLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LearnByErrorLibrary.Properties.Settings>
            <setting name="FE1" serializeAs="String">
                <value>No such function. Look at FunctionChoice enumeration.</value>
            </setting>
            <setting name="FE2" serializeAs="String">
                <value>Input a output patterns are not equal.</value>
            </setting>
            <setting name="FE3" serializeAs="String">
                <value>Topography must contain only positive values</value>
            </setting>
            <setting name="FE4" serializeAs="String">
                <value>Weights must not be zero.</value>
            </setting>
            <setting name="NBN1" serializeAs="String">
                <value>File: {0} was not found. It was expected file with training data for neural network.</value>
            </setting>
            <setting name="NBN2" serializeAs="String">
                <value>Input data not loaded from file: {0}. Please check position separators (comma required).</value>
            </setting>
        </LearnByErrorLibrary.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
